/* On-screen Keyboard */

$key_border_radius: $base_border_radius + 3px;

$default_key_bg_color: $bg_color;
$non_alpha_key_color: $surface_view;
$shifted_key_color: adjust-color-variant($surface_active, 8%);

#virtual-keyboard {
  background-color: $panel_bg;
  box-shadow: active-inset-shadow-mix($panel_bg, $borders_color, 30%, 0.5px, 0.5px);
}

// the container for individual keys
.vkeyboard-key-container {
  padding: $base_margin;
  spacing: $base_margin;
}

// the keys
.vkeyboard-key {

  @include button(normal);

  &:focus { @include button(focus);}
  &:hover { @include button(hover);}
  &:checked { @include button(checked);}
  &:active { @include button(active); }

  @include fontsize(20px);
  border-width: 1px;
  border-style: solid;
  border-radius: $key_border_radius;

  background-color: adjust-color-variant($surface_hover, 4%);

  &.shift-key-lowercase, &.escape-key, &.hide-key, &.non-alpha-key {
    background-color: $non_alpha_key_color;

    &:focus { @include button(focus);}
    &:hover { @include button(hover);}
    &:checked { @include button(checked);}
    &:active { @include button(active); }

  }

  &.shift-key-uppercase {
    background-color: $shifted_key_color;
    box-shadow: active-inset-shadow-mix($shifted_key_color, $surface_hover, 60%, 4px, 1px);
  }
  &.shift-key-uppercase:hover { background-color: $surface_hover; }
  &.enter-key { background-color: adjust-color-variant-inverse($accent_bg_color, 4%); }
  &.enter-key:hover { background-color: $surface_hover; }

  &.modifier-key {
    background-color: $non_alpha_key_color;

    &:hover, &:checked { @include button(hover); }

    &:latched {
      background-color: $shifted_key_color;
      box-shadow: active-inset-shadow-mix($shifted_key_color, $surface_hover, 60%, 4px, 1px);
    }
  }

  StIcon { icon-size: 1.125em; }
}

// long press on a key popup
.vkeyboard-subkeys {
  color: $fg_color;
  -arrow-border-radius: $base_border_radius;
  -arrow-background-color: $bg_color;
  -arrow-border-width: 1px;
  -arrow-border-color: lighten($bg_color, 9%);
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: $base_padding;
}

// suggestions
.word-suggestions {
  @include fontsize(18px);
  spacing: 20px;
  min-height: 20pt;
}
