// grouped window list

.grouped-window-list {
  &-box {}

  &-item-label {
    width: 15em;
    min-width: 5px;
  }

  &-item-box {
    padding: 0 $base_padding;
    color: transparentize($fg_color, 0.15);
    transition-duration: 200ms;
    transition-property: background-color, border-color, color;

    &.top {
      border-bottom-width: $windowlist_border_width;
    }
    &.bottom {
      border-top-width: $windowlist_border_width;
    }

    &.right {
      padding-left: 0;
      padding-right: 0;
      border-right-width: $windowlist_border_width;

      & StBin { padding-right: 0; }
    }

    &.left {
      padding-left: 0;
      padding-right: 0;
      border-left-width: $windowlist_border_width;

      & StBin { padding-left: 0; }
    }

    &:hover {
      background-color: $surface_active;
      border-color: transparentize($focus_indicator, 0.7);
      color: $fg_color;
      transition-duration: 150ms;
    }
    &:active { border-color: $focus_indicator; color: $fg_color; }
    &:focus {
      background-color: $surface_active;
      border-color: $focus_indicator;
      color: $fg_color;
      box-shadow: active-inset-shadow-mix($surface_active, $checked_indicator, 75%, 2px);
    }

    & .progress { background-color: transparentize($success_color, 0.2); }
  }

  &-item-demands-attention { background-color: $warning_color; }

  &-thumbnail-label { padding-left: 4px; }
  &-thumbnail-alert { background: transparentize($destructive_color, 0.7); }

  &-thumbnail-menu {
    border: 1px solid $borders_color;
    margin: 4px;
    background-color: $bg_color;
    border-radius: $base_border_radius;
    box-shadow: $elevation_medium;

    > StBoxLayout { padding: 6px; }

    .item-box {
      padding: 8px;
      spacing: 6px;
      border-radius: 0;
      transition-duration: 150ms;
      transition-property: background-color, border-color;

      &:first-child { border-radius: $base_border_radius 0 0 $base_border_radius; }
      &:last-child { border-radius: 0 $base_border_radius $base_border_radius 0; }

      &:outlined {
        border: 1px solid $accent_color;

        &:first-child { border-radius: $base_border_radius 0 0 $base_border_radius; }
        &:last-child { border-radius: 0 $base_border_radius $base_border_radius 0; }
      }

      &:selected {
        background-color: $surface_view;
        border: 1px solid $borders_color;

        &:only-child,
        &:first-child:last-child { border-radius: $base_border_radius; }
        &:first-child { border-radius: $base_border_radius 0 0 $base_border_radius; }
        &:last-child { border-radius: 0 $base_border_radius $base_border_radius 0; }
      }
    }

    .thumbnail { width: 256px; }
    .separator {
      width: 1px;
      background-color: $borders_color;
    }
  }

  &-button-label { padding-left: 4px;}

  &-number-label {
    font-size: 12px;
  }

  &-badge {
    border-radius: 99px;
    background-color: $accent_color;
    color: white;
    margin: 0;
  }

  &-notifications-badge {
    border-radius: 99px;
    background-color: $notification_badge_bg_color;
    color: white;
  }

  &-notifications-badge-label {
    font-size: 12px;
  }

  &-scrollbox {
    &-scrollview {
      &.vfade {
        -st-vfade-offset: 68px;
        -st-hfade-offset: 0;
      }
      &.hfade {
        -st-hfade-offset: 68px;
        -st-vfade-offset: 0;
      }
    }

    &-button {
      &-start,
      &-end,
      &-up,
      &-down {
        margin: 0;
        padding: 0;
      }

      &-icon {
        icon-size: $scalable_icon_size;
      }
    }
  }
}

// classic window list

.window-list {
  &-box {
    spacing: $base_padding;
    padding-left: $base_padding;
    padding-top: 1px;

    &.vertical {
      spacing: $base_margin;
      padding: $base_padding 0;
    }

    &:highlight { background-color: transparentize($error_color, 0.5); }
  }

  &-item-label {}

  &-item-box {
    padding: 0 $base_padding;
    color: transparentize($fg_color, 0.2);

    &.top,
    &.bottom {
      StLabel { padding-left: 2px; }
    }

    &.top {
      border-bottom-width: $windowlist_border_width;
    }

    &.bottom {
      border-top-width: $windowlist_border_width;
    }

    &.right {
      padding-left: 0;
      padding-right: 0;
      border-right-width: $windowlist_border_width;

      StBin {
        padding-right: 0;
        padding-left: 5px;
      }
    }

    &.left {
      padding-left: 0;
      padding-right: 0;
      border-left-width: $windowlist_border_width;

      StBin {
        padding-left: 0;
        padding-right: 5px;
      }
    }

    &:hover {
      background-color: $surface_active;
    }

    &:focus {
      border-color: $focus_indicator;
      background-color: $surface_active;
    }

    & .progress { background-color: transparentize($success_color, 0.2); }
  }

  &-item-demands-attention { background-color: $warning_color; }

  &-preview {
    border: 1px solid $borders_color;
    background-color: $bg_color;
    border-radius: $base_border_radius;
    padding: $base_padding * 2;
    spacing: $base_margin;
    box-shadow: $elevation_medium;
  }
}
