// grouped window list

$border_width: 4px;

.grouped-window-list {
  &-box {}

  &-item-label {
    width: 15em;
    min-width: 5px;
  }

  &-item-box {
    padding: 0 $base_padding;
    transition-duration: 200ms;
    transition-property: background-color, border-color;

    &.top {
      border-bottom-width: $border_width;
    }
    &.bottom {
      border-top-width: $border_width;
    }

    &.right {
      padding-left: 0;
      padding-right: 0;
      border-right-width: $border_width;

      & StBin { padding-right: 0; }
    }

    &.left {
      padding-left: 0;
      padding-right: 0;
      border-left-width: $border_width;

      & StBin { padding-left: 0; }
    }

    &:hover {
      background-color: $lighter_bg_color;
      transition-duration: 150ms;
    }
    &:focus {
      background-color: $lightest_bg_color;
      box-shadow: inset 0 0 0 1px transparentize($accent_bg_color, 0.6);
    }
    &:active { border-color: $accent_bg_color; }

    & .progress { background-color: transparentize($success_color, 0.2); }
  }

  &-item-demands-attention { background-color: $destructive_color; }

  &-thumbnail-label { padding-left: 4px; }
  &-thumbnail-alert { background: transparentize($destructive_color, 0.7); }

  &-thumbnail-menu {
    border: 1px solid $borders_color;
    margin: 4px;
    background-color: $bg_color;
    border-radius: $base_border_radius;
    box-shadow: 0 3px 6px $shadow_color;

    > StBoxLayout { padding: 6px; }

    .item-box {
      padding: 8px;
      spacing: 6px;
      border-radius: 0;
      transition-duration: 150ms;
      transition-property: background-color, border-color;

      &:first-child { border-radius: $base_border_radius 0 0 $base_border_radius; }
      &:last-child { border-radius: 0 $base_border_radius $base_border_radius 0; }

      &:outlined {
        border: 1px solid $accent_color;

        &:first-child { border-radius: $base_border_radius 0 0 $base_border_radius; }
        &:last-child { border-radius: 0 $base_border_radius $base_border_radius 0; }
      }

      &:selected {
        background-color: $light_bg_color;
        border: 1px solid $borders_color;

        &:only-child,
        &:first-child:last-child { border-radius: $base_border_radius; }
        &:first-child { border-radius: $base_border_radius 0 0 $base_border_radius; }
        &:last-child { border-radius: 0 $base_border_radius $base_border_radius 0; }
      }
    }

    .thumbnail { width: 256px; }
    .separator {
      width: 1px;
      background-color: $borders_color;
    }
  }

  &-button-label { padding-left: 4px;}

  &-number-label {
    font-size: 12px;
  }

  &-badge {
    border-radius: 99px;
    background-color: $accent_color;
    color: white;
    margin: 0;
  }

  &-notifications-badge {
    border-radius: 99px;
    background-color: $notification_badge_bg_color;
    color: white;
  }

  &-notifications-badge-label {
    font-size: 12px;
  }

  &-scrollbox {
    &.vfade {
      -st-vfade-offset: 68px !important;
      -st-hfade-offset: 0 !important;
    }
    &.hfade {
      -st-hfade-offset: 68px !important;
      -st-vfade-offset: 0 !important;
    }
  }
}

// classic window list

.window-list {
  &-box {
    spacing: $base_padding;
    padding-left: $base_padding;
    padding-top: 1px;

    &.vertical {
      spacing: $base_margin;
      padding: $base_padding 0;
    }

    &:highlight { background-color: transparentize($error_color, 0.5); }
  }

  &-item-label {}

  &-item-box {
    padding: 0 $base_padding;
    color: transparentize($fg_color, 0.2);

    &.top,
    &.bottom {
      StLabel { padding-left: 2px; }
    }

    &.top {
      border-bottom-width: $border_width;
    }

    &.bottom {
      border-top-width: $border_width;
    }

    &.right {
      padding-left: 0;
      padding-right: 0;
      border-right-width: $border_width;

      StBin {
        padding-right: 0;
        padding-left: 5px;
      }
    }

    &.left {
      padding-left: 0;
      padding-right: 0;
      border-left-width: $border_width;

      StBin {
        padding-left: 0;
        padding-right: 5px;
      }
    }

    &:hover {
      background-color: $light_bg_color;
    }

    &:focus {
      border-color: $accent_bg_color;
      background-color: $lightest_bg_color;
    }

    & .progress { background-color: transparentize($success_color, 0.2); }
  }

  &-item-demands-attention { background-color: $destructive_color; }

  &-preview {
    border: 1px solid $borders_color;
    background-color: $bg_color;
    border-radius: $base_border_radius;
    padding: $base_padding * 2;
    spacing: $base_margin;
    box-shadow: 0 0 6px 0 $shadow_color;
  }
}
